body {
  margin: 0;
  color: #000;
  font-family: cursive;
  background-image: linear-gradient(to bottom, #a540ff, #f9eaff);
  min-height: 100vh;
  line-height: 1.1;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 4rem;
  font-weight: 700;
}

.content p {
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 0.6;
}
